@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$file-path}.woff2') format('woff2'),
		url('#{$file-path}.woff') format('woff'),
		url('#{$file-path}.ttf') format('truetype');
		font-weight: $weight;
		font-style: $style;
	}
}

@include font-face('Nunito Sans', '../fonts/NunitoSans/NunitoSans-Regular', 400);
@include font-face('Nunito Sans', '../fonts/NunitoSans/NunitoSans-SemiBold', 600);